html {
  font-size: 18px;
  font-family: helvetica;
  color: white;
  border: solid 1px;
}

header {
  background-color: black;
  /*flex commands*/
  display: flex;
  align-items: center;
  height: 3rem;
}
header img {
height: 1.5rem;
padding: 0rem 1rem 0rem .5rem;
}
 #main_banner {
   background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
   height: 25rem;
   width: 100%;
   background-size: cover;
   display: flex;
   align-items: center;
 }
 #main_banner div {
   background-color: black;
   font-weight: bold;
   width: 20rem;
   padding: 2rem 3rem;
 }
 .sport_bikes {
   font-size: 2rem;
 }
 /*navigation*/
.gadgets {
  height: 2.5rem;
  background-color: firebrick;
  /*flex commands*/
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
li {
  width:80px;
  /*flex commands*/
  display: flex;
  justify-content: space-around;
}
.pic_gadgets {
  padding-top: 3rem;
  display: flex;
  justify-content: space-around;
}
.pic_gadgets .container {
  background-color: black;
  border: solid 4px;
  border-color: black;
  width: 30%;
  height:14rem;
  /*flex commands*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.image {
  background-color: white;
  height: 9rem;
  width: 9rem;
  background-size: cover;
}
.pic_gadgets .item_pen {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/pen.png");
}
.pic_gadgets .item_glasses {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/pen.png");
}
.pic_gadgets .item_watch {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/secret-agent-supply/resources/images/watch.png");
}
.name {
  height:12rem;
  width:100%;
  background-color: white;
  /*flex commands*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.location {
  padding-top: 3rem;
  /*flex commands*/
  display: flex;
  justify-content: space-around;
  padding-bottom: 4rem;
}
.location .container{
  background-color: white;
  color: black;
  width: 35%;
  height: 3rem;
}
.location .item {
  background-color: black;
  color: white;
  height: 3rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}
footer {
  height: 5rem;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .pic_gadgets .container{
    width: 47%;
  }
  .test2 {

    display: none;
  }

}
